## GITATTRIBUTES
#
# Details per file setting:
#   text    These files should be normalized (i.e. convert CRLF to LF).
#   binary  These files are binary and should be left untouched.
#
# Note that binary is a macro for -text -diff.
######################################################################

# Auto detect
##   Handle line endings automatically for files detected as
##   text and leave all files detected as binary untouched.
##   This will handle all files NOT defined below.
*                 text=auto

# Documentation
*.md              text
*.txt             text
LICENSE           text

# Configs
*.config          text
*.properties      text
*.json            text
*.xml             text
.editorconfig     text
.env              text
.gitattributes    text
.gitconfig        text

# Graphics
*.ico             binary
*.jpg             binary
*.jpeg            binary
*.png             binary
*.tif             binary
# SVG treated as an asset (binary) by default.
*.svg             text

# Documents
*.doc	            diff=astextplain
*.DOC	            diff=astextplain
*.docx            diff=astextplain
*.DOCX            diff=astextplain
*.pdf             diff=astextplain
*.PDF             diff=astextplain
*.csv             text

# Archives
*.jar             binary
*.zip             binary
*.a2w             zip
*.a2c             zip

# Models
*.3ds             binary
*.ase             text
*.asf             binary
*.amc             text
*.c3d             binary
*.dae             text
*.max             binary
*.mtl             text
*.ms              text
*.obj             text
*.tga             binary
*.tvd             binary

# Executables
*.exe             binary

# RC files (like .babelrc or .eslintrc)
*.*rc             text

# Ignore files (like .npmignore or .gitignore)
*.*ignore         text

# Text files where line endings should be preserved
*.patch           -text
